<div class="w-full h-full px-4 pt-4 gap-8flex flex-col mb-8 border-b broder-[2px] border-gray-200">

    <!-- Título de la página -->
    <div class="mb-4 flex gap-2">
      <h2 class="text-lg font-semibold">Bienvenido a la página de compras</h2>
    </div>

     <app-filters
      [items]="items"
     />
  
    <div class="mt-8 grid gap-4 grid-cols-1 md:grid-cols-3 lg:grid-cols-4">
      
      <app-products-container
        *ngFor="let item of items"
        [name]="item.name"
        [category]="item.category"
        [images]="item.images"
        [price]="item.price"
        [description]="item.description"
      />
  
  </div>
