<!-- Contenedor de costado derecho de la Pagina Info, para nueva Informacion -->
<div class="w-full h-full p-4">
    <div>
        <h1 class="font-InterVariableFont font-bold text-[32px] md:text-[40px] justify-self-center ">NUESTRAS SUCURSALES</h1>
    </div>
    <section class="w-full mt-6 md:flex gap-4 sm:gap-6 md:gap-7 mb-4">
        <app-home-project-element
            *ngFor="let project of projects"
            [title]="project.titulo"
            [subtitle]="project.subtitulo"
            [url]="project.imagen"
        />
    </section>
</div> 