<!-- Contenedor Principal de Imagen y Titulo de la Pagina Info-->
<div class="w-full h-full p-4 ">
    <section>

        <app-home-carrousel/>

        <div class="sm:flex px-4">
            <div class="flex-1 py-6">
                <h2 class="font-InterVariableFont font-bold text-[40px] sm:text-[58px] leading-none">MONTE CARLO, CAFÉ TRADICIONAL </h2>
            </div>
            <div class="flex-1 pt-9">
                <p class="font-InterVariableFont text-[13px] sm:text-[15px] mb-10">Voluptate laborum ullamco veniam labore fugiat sint et ullamco irure minim minim aliquip.</p>
                <button class="bg-custom-blue w-[185px] h-[48px] uppercase text-custom-offWhite font-bold hover:bg-black cursor-pointer">Leer Mas</button>
            </div>
        </div>
              
    </section>

</div>
