<div class="w-full h-full flex flex-col">

  <!-- Opciones arriba -->
  <div class="flex flex-row items-center justify-between px-4 sm:px-6 lg:px-0">
    <h2 class="text-2xl font-bold tracking-tight text-gray-900">Trending products</h2>
    <a href="#" class="hidden text-sm font-semibold text-teal-600 hover:text-cyan-500 sm:block">
      See everything
      <span aria-hidden="true"> &rarr;</span>
    </a>
  </div>

  <!-- Contenedor de Trending Products -->
  <div class="mt-8 flex flex-col md:flex-row justify-between gap-8 px-4 sm:px-6 lg:px-0">
    <!-- Producto 1 -->
    <div class="flex flex-col w-full">
      <div class="group relative rounded-md shadow-md">
        <img src="https://res.cloudinary.com/dh47cb140/image/upload/v1739228260/shirt_baewjr.jpg" alt="Black machined steel pen" class="w-full h-48 md:h-120 object-scale-down rounded-md">
        <div class="p-4 flex-1 flex flex-col justify-between">
          <p class="text-sm text-gray-500">Black</p>
          <h3 class="text-lg font-semibold text-gray-900">Machined Pen</h3>
          <p class="mt-1 text-gray-900">$35</p>
        </div>
      </div>
    </div>

    <!-- Producto 2 -->
    <div class="flex flex-col w-full">
      <div class="group relative rounded-md shadow-md">
        <img src="https://res.cloudinary.com/dh47cb140/image/upload/v1739228263/cup_pb5va7.jpg" alt="Coffee cup" class="w-full h-48 md:h-120 object-scale-down rounded-md">
        <div class="p-4 flex-1 flex flex-col justify-between">
          <p class="text-sm text-gray-500">White</p>
          <h3 class="text-lg font-semibold text-gray-900">Coffee Cup</h3>
          <p class="mt-1 text-gray-900">$15</p>
        </div>
      </div>
    </div>

    <!-- Producto 3 -->
    <div class="flex flex-col w-full">
      <div class="group relative rounded-md shadow-md">
        <img src="https://res.cloudinary.com/dh47cb140/image/upload/v1739228261/coffee-bag_ynpipq.jpg" alt="Coffee Bag" class="w-full h-48 md:h-120 object-scale-down rounded-md">
        <div class="p-4 flex-1 flex flex-col justify-between">
          <p class="text-sm text-gray-500">Black</p>
          <h3 class="text-lg font-semibold text-gray-900">Coffee Bag</h3>
          <p class="mt-1 text-gray-900">$20</p>
        </div>
      </div>
    </div>
  </div>

</div>
